name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: ☁️ Login to GitHub Packages
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io --username ${{ secrets.USER_NAME }} --password-stdin
    - name: ⚒️ Build the Docker image
      run: docker build --build-arg USER_NAME=${{ secrets.USER_NAME }} --build-arg ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} . --file Dockerfile --tag inproder-eval:latest
    - name: ☁️ Upload the Docker image
      run: docker tag inproder-eva:latest  ghcr.io/${{ secrets.REPO_USER }}/inproder-eval:latest
